<div>
<h1>
    Hello
</h1>
<p> What is expressionChangedAfterChecked?</p>
<p>It's an error that happens when something has changed in a compoent that's not reflected in the DOM.</p>
<p> AKA it's an error that happens because component changes happen outside of the normal Anguar change detection and rendering cycle.</p>
<p><em>This almost always happens because a child component changes something on the parent component</em></p>
<h2>Lets generate some bad components</h2>

<!--So this doesnt fucking work-->
<!--<h3>This bad component is probmematic because the child changes a value on the parent through a <em>shared service</em></h3>-->
<app-component-generator [componentType]="'Contrived'"></app-component-generator>

<app-component-generator [componentType]="'SharedService'"></app-component-generator>

<app-component-generator [componentType]="'CircularEvent'"></app-component-generator>

<app-component-generator [componentType]="'BadGenerationSequence'"></app-component-generator>

