<div>
<h1>
    Hello
</h1>
<p> What is expressionChangedAfterChecked?</p>
<p>It's an error that happens when something has changed in a compoent that's not reflected in the DOM.</p>
<p> AKA it's an error that happens because component changes happen outside of the normal Anguar change detection and rendering cycle.</p>
<p><em>This almost always happens because a child component changes something on the parent component</em></p>
<h2>Lets generate some bad components</h2>

<h5> Contrived Component </h5>
<p>In this contrived example, the child componet directly edits the parent property 'name' after the parent has rendered, but before the child has rendered </p>
<app-component-generator [componentType]="'Contrived'"></app-component-generator>

<h5> Shared Service Component </h5>
<p>In this example, the parent and child component share a service.  The parent has a listener that updates a property in response to changes in the service, and the child changes the service.</p>

<app-component-generator [componentType]="'SharedService'"></app-component-generator>

<h5> Circular Event Component </h5>
<p>In this example, the parent listens to the child for an event, and the child executes the event in the ngOnInit callback</p> 

<app-component-generator [componentType]="'CircularEvent'"></app-component-generator>

<h5>Bad Generation Sequence Example</h5>
<p>In this example the parent component generates a child component after it should have rendered.  Because the DOM is changed outside of the normal change cycle you get an expressionChangedAfterCHecked error</p>
<app-component-generator [componentType]="'BadGenerationSequence'"></app-component-generator>

<h5>Single Component</h5>
<p> Here's an example that doesnt involve a parent/child relationship</p>
<app-component-generator [componentType]="'SingleComponent'"></app-component-generator>

